<div class="logo">
<%= link_to image_tag('/images/logo.png', :width => '220px'), {:controller => "general", :action => 'intro'}, :class => "#{'left_selected' if @controller.controller_name == 'general' && @controller.action_name == 'intro'}" %><br />
</div>

<div class="main_menu avant_garde">
  <%= link_to 'intro', {:controller => "general", :action => 'intro'}, :class => "#{'left_selected' if @controller.controller_name == 'general' && @controller.action_name == 'intro'}" %><br />
  <%= link_to 'any occasion', {:controller => "general", :action => 'occasion'}, :class => "#{'left_selected' if @controller.controller_name == 'general' && @controller.action_name == 'occasion'}" %><br />
  <%= link_to 'birthday', {:controller => "general", :action => 'birthday'}, :class => "#{'left_selected' if @controller.controller_name == 'general' && @controller.action_name == 'birthday'}" %><br />
  <%= link_to 'anniversary', {:controller => "general", :action => 'anniversary'}, :class => "#{'left_selected' if @controller.controller_name == 'general' && @controller.action_name == 'anniversary'}" %><br />
  <%= link_to 'congratulations', {:controller => "general", :action => 'congratulations'}, :class => "#{'left_selected' if @controller.controller_name == 'general' && @controller.action_name == 'congratulations'}" %><br />
  <%= link_to 'valentine', {:controller => "general", :action => 'valentine'}, :class => "#{'left_selected' if @controller.controller_name == 'general' && @controller.action_name == 'valentine'}" %><br />
  <%= link_to 'woman day', {:controller => "general", :action => 'woman_day'}, :class => "#{'left_selected' if @controller.controller_name == 'general' && @controller.action_name == 'woman_day'}" %><br />
  <%= link_to 'for small office', {:controller => "general", :action => 'small_office'}, :class => "#{'left_selected' if @controller.controller_name == 'general' && @controller.action_name == 'small_office'}" %><br />
  <br />
  <%= link_to 'orchids', {:controller => "general", :action => 'orchids'}, :class => "#{'left_selected' if @controller.controller_name == 'general' && @controller.action_name == 'orchids'}" %><br />
</div>

<div class="info avant_garde">
  <%= link_to 'order', {:controller => "general", :action => 'order'}, :class => "#{'left_selected' if @controller.controller_name == 'general' && @controller.action_name == 'order'}" %><br />
  <%= link_to 'delivery', {:controller => "general", :action => 'delivery'}, :class => "#{'left_selected' if @controller.controller_name == 'general' && @controller.action_name == 'delivery'}" %><br />
  <%= link_to 'contact', {:controller => "general", :action => 'contact'}, :class => "#{'left_selected' if @controller.controller_name == 'general' && @controller.action_name == 'contact'}" %>
</div>